.sectorContainer{
    width: 75vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.chartNavbar ul{
    list-style: none;
    display: flex;
}

.chartNavbar ul li{
    margin: 1em;
}

.parameters{
    list-style: none;
}